{
  "openapi": "3.1.0",
  "info": {
    "title": "微信支付积分系统",
    "description": "基于微信支付的积分赠送系统后端API接口文档",
    "version": "1.0.0",
    "contact": {
      "name": "API支持",
      "url": "https://www.guandongfang.cn"
    }
  },
  "servers": [
    {
      "url": "https://www.guandongfang.cn/api/v1",
      "description": "生产环境"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "开发环境"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "认证相关接口"
    },
    {
      "name": "users",
      "description": "用户管理"
    },
    {
      "name": "merchants",
      "description": "商户管理"
    },
    {
      "name": "orders",
      "description": "订单管理"
    },
    {
      "name": "points",
      "description": "积分管理"
    },
    {
      "name": "dashboard",
      "description": "仪表盘统计"
    }
  ],
  "paths": {
    "/auth/admin/login": {
      "post": {
        "tags": ["auth"],
        "summary": "管理员登录",
        "description": "管理员通过用户名和密码登录系统",
        "operationId": "adminLogin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminLoginRequest"
              },
              "example": {
                "username": "admin",
                "password": "admin123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "登录成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminLoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "用户名或密码错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/users": {
      "get": {
        "tags": ["users"],
        "summary": "获取用户列表",
        "description": "分页获取用户列表，支持搜索和筛选",
        "operationId": "getUserList",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页数量",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "搜索关键词（昵称、手机号）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "用户状态",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["active", "locked", "banned"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/users/{id}": {
      "get": {
        "tags": ["users"],
        "summary": "获取用户详情",
        "description": "根据用户ID获取详细信息",
        "operationId": "getUserDetail",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "用户ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "用户不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["users"],
        "summary": "更新用户信息",
        "description": "更新用户基本信息",
        "operationId": "updateUser",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "用户ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "更新成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/merchants": {
      "get": {
        "tags": ["merchants"],
        "summary": "获取商户列表",
        "description": "分页获取商户列表",
        "operationId": "getMerchantList",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "商户状态",
            "schema": {
              "type": "string",
              "enum": ["active", "inactive", "pending"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["merchants"],
        "summary": "创建商户",
        "description": "新建商户信息",
        "operationId": "createMerchant",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchantRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/orders": {
      "get": {
        "tags": ["orders"],
        "summary": "获取订单列表",
        "description": "分页获取支付订单列表",
        "operationId": "getOrderList",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "订单状态",
            "schema": {
              "type": "string",
              "enum": ["pending", "paid", "cancelled", "expired", "refunded"]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "开始日期",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "结束日期",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/points/records": {
      "get": {
        "tags": ["points"],
        "summary": "获取积分记录",
        "description": "获取积分变动记录列表",
        "operationId": "getPointsRecords",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "用户ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "积分来源",
            "schema": {
              "type": "string",
              "enum": ["payment_reward", "mall_consumption", "admin_adjust", "expired_deduct"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointsRecordsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/points/adjust": {
      "post": {
        "tags": ["points"],
        "summary": "手动调整积分",
        "description": "管理员手动调整用户积分",
        "operationId": "adjustPoints",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjustPointsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "调整成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/dashboard/stats": {
      "get": {
        "tags": ["dashboard"],
        "summary": "获取仪表盘统计数据",
        "description": "获取系统核心统计数据",
        "operationId": "getDashboardStats",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardStatsResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "在请求头中添加: Authorization: Bearer {token}"
      }
    },
    "schemas": {
      "AdminLoginRequest": {
        "type": "object",
        "required": ["username", "password"],
        "properties": {
          "username": {
            "type": "string",
            "description": "用户名"
          },
          "password": {
            "type": "string",
            "description": "密码"
          }
        }
      },
      "AdminLoginResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "token": {
                "type": "string"
              },
              "adminInfo": {
                "type": "object",
                "properties": {
                  "id": {"type": "integer"},
                  "username": {"type": "string"},
                  "realName": {"type": "string"},
                  "role": {"type": "string"}
                }
              }
            }
          }
        }
      },
      "UserListResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "data": {
            "type": "object",
            "properties": {
              "users": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "pagination": {
                "$ref": "#/components/schemas/Pagination"
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "openid": {"type": "string"},
          "nickname": {"type": "string"},
          "phone": {"type": "string"},
          "pointsBalance": {"type": "integer"},
          "status": {
            "type": "string",
            "enum": ["active", "locked", "banned"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Merchant": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "merchantName": {"type": "string"},
          "merchantNo": {"type": "string"},
          "contactPerson": {"type": "string"},
          "contactPhone": {"type": "string"},
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "pending"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {"type": "integer"},
          "pageSize": {"type": "integer"},
          "total": {"type": "integer"}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          }
        }
      },
      "UserDetailResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "data": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "nickname": {"type": "string"},
          "phone": {"type": "string"},
          "status": {
            "type": "string",
            "enum": ["active", "locked", "banned"]
          }
        }
      },
      "MerchantListResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "data": {
            "type": "object",
            "properties": {
              "merchants": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Merchant"
                }
              },
              "pagination": {
                "$ref": "#/components/schemas/Pagination"
              }
            }
          }
        }
      },
      "CreateMerchantRequest": {
        "type": "object",
        "required": ["merchantName", "merchantNo", "contactPerson", "contactPhone"],
        "properties": {
          "merchantName": {"type": "string"},
          "merchantNo": {"type": "string"},
          "contactPerson": {"type": "string"},
          "contactPhone": {"type": "string"},
          "businessLicense": {"type": "string"},
          "businessCategory": {"type": "string"}
        }
      },
      "MerchantResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "data": {
            "$ref": "#/components/schemas/Merchant"
          }
        }
      },
      "OrderListResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "data": {
            "type": "object",
            "properties": {
              "orders": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {"type": "integer"},
                    "orderNo": {"type": "string"},
                    "amount": {"type": "number"},
                    "pointsAwarded": {"type": "integer"},
                    "status": {"type": "string"},
                    "createdAt": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      },
      "PointsRecordsResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "data": {
            "type": "object",
            "properties": {
              "records": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {"type": "integer"},
                    "userId": {"type": "integer"},
                    "pointsChange": {"type": "integer"},
                    "pointsBalance": {"type": "integer"},
                    "source": {"type": "string"},
                    "description": {"type": "string"},
                    "createdAt": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      },
      "AdjustPointsRequest": {
        "type": "object",
        "required": ["userId", "points", "type", "reason"],
        "properties": {
          "userId": {
            "type": "integer",
            "description": "用户ID"
          },
          "points": {
            "type": "integer",
            "description": "积分数量"
          },
          "type": {
            "type": "string",
            "enum": ["add", "subtract"],
            "description": "操作类型"
          },
          "reason": {
            "type": "string",
            "description": "调整原因"
          }
        }
      },
      "DashboardStatsResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "data": {
            "type": "object",
            "properties": {
              "overview": {
                "type": "object",
                "properties": {
                  "totalUsers": {"type": "integer"},
                  "activeMerchants": {"type": "integer"},
                  "monthlyRevenue": {"type": "number"},
                  "monthlyOrders": {"type": "integer"}
                }
              },
              "today": {
                "type": "object",
                "properties": {
                  "orders": {"type": "integer"},
                  "revenue": {"type": "number"},
                  "activeUsers": {"type": "integer"}
                }
              }
            }
          }
        }
      }
    }
  }
}

